export ENABLE_MODULE_REGISTRY=true
export ENABLE_PROVIDER_REGISTRY=true
export LOG_LEVEL=info
export PORT=8888

# On Local storage usage
# export BACKEND_TYPE=local

# On GCS
# export BACKEND_TYPE=s3
# export BACKEND_S3_ACCESS_KEY=
# export BACKEND_S3_BUCKET=
# export BACKEND_S3_ENDPOINT=
# export BACKEND_S3_SECRET_KEY=
# export BACKEND_S3_USE_PATH_STYLE=

# On GCS
# export BACKEND_TYPE=gcs
# export BACKEND_GCS_BUCKET=
